:root{
  --br: 0em; /* border-radius */
  --displaySize: 30em;
}

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-grid{
  display: grid;
  grid-template-rows: 2em 1fr;
  grid-row-gap: 0.5em; 
}

.main-header{
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 2em;
  border-radius: var(--br);
  text-align: center;
  background: #420;
  color: #fff435;
  font-family: Courier;
  border: 0.01em solid #fff435;
}

.menu-grid {
  display: grid;
  grid-row: 2;
  grid-template-columns: var(--displaySize) minmax(20em,auto);
  grid-template-rows: var(--displaySize) 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.menu-display{
  display: inline-flex;
  grid-column: 1;
  grid-row: 1;
  border-radius: var(--br);
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url(./tile.png);
  background-size: 5%;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  border: 0.01em solid #ffffff;
}

.menu-monitor{
  display: inline-flex;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.1em;
  grid-row-gap: 0.1em;
  border-radius: var(--br);
}

.menu-monitor-stats{
  display: inline-flex;
  background: #282c34;
  color: #ffffff;
  border-radius: var(--br);
  padding: 0.3em;
  align-items: center;
  justify-content: center;
  border: 0.01em solid #ffffff;
}

/*.menu-monitor-stats:hover{
  color: #7efd72;
  border-color: #7efd72;
}*/

.menu-footer{
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  grid-template-rows: 1fr 3fr;
  border-radius: var(--br);
  text-align: center;
  background: #420;
  color: #fff435;
  font-family: Courier;
  border: 0.01em solid #fff435;
}

.menu-footer-tabs{
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(3,1fr);
}

.menu-footer-actions{
  display: grid;
  grid-template-columns: repeat(10,4em);
  grid-template-rows: repeat(1,4em);
  grid-row: 2;
  grid-gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border: 0.01em solid #fff435;
}

.box{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid #fff435;
}

/*.box:hover{
  color: #7efd72;
  border-color: #7efd72;
}*/

.hover:hover{
  color: #7efd72;
  border-color: #7efd72;
}